buildroot/output
buildroot/.config*
buildroot/defconfig
buildroot/output
buildroot/dl
buildroot/.auto.deps
buildroot/.config.cmd
buildroot/.config.old
buildroot/..config.tmp
buildroot/.config
*.depend
*.o
buildroot/*.patch
buildroot/*.diff
*.orig
*.rej
*~
*.pyc